$bbcode1: $classic-highlight-color !default;
$bbcode2: lighten($black, 15%) !default;
 .faicon_FTL {
  display: none;
}

 @font-face {
  font-family: "Pappy";
  src: url('PAPYRUS.TTF') format('truetype');
}

 @font-face {
  font-family: "TrollType";
  src: url('trolltype.ttf') format('truetype');
}

 @font-face {
  font-family: "YANDERE";
  src: url('YANDERE.ttf') format('truetype');
}

@font-face {
  font-family: "comicpapyrus";
  src: url('Comic_Parchment.ttf') format('truetype');
}

 @font-face {
  font-family: "NewAlternian";
  src: url('NewAlternianVers3-Regular.ttf') format('truetype');
}

 .bbcode {
   &__pulse {
    animation: pulse 1s ease-in-out infinite;
    animation-direction: alternate;
  }
   &__spin {
    display: inline-block;
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
  }
   &__b {
    font-family: 'kozuka-gothic-pro', sans-serif;
    font-weight: 900;
  }
   &__i {
    font-family: 'kozuka-gothic-pro', sans-serif;
    font-style: italic;
    -moz-font-feature-settings: 'ital';
    -webkit-font-feature-settings: 'ital';
    font-feature-settings: 'ital';
  }
   &__flip-horizontal {
    display: inline-block;
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
  }
   &__flip-vertical {
    display: inline-block;
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
  }
   @for $i from 2 through 5 {
    &__large-#{$i}x {
      font-size: #{$i}em;
       & .emojione {
        width: #{18 * $i}px !important;
        height:  #{18 * $i}px !important;
      }
    }
  }
   /* attr color is not supported!!!
    &__color {
      color: attr(data-bbcodecolor color);
    }
  */
   &__faicon {
    display: inline-block !important;
  }
   &__quote {
    padding: 10px 10px;
    border-left: 5px solid $bbcode1;
  }
   &__code {
    display: block;
    padding: 9px;
    line-height: 1.42857143;
    color: $white;
    /*
    old code was 
    word-break: break-all;
    word-wrap: break-word;
    */
    word-break: normal;
    word-wrap: normal;
    background-color: $bbcode2;
    border: 1px solid $bbcode2;
    border-radius: 4px;
    overflow-x: scroll;
  }
   &__u {
    text-decoration: underline;
  }
   &__s {
    text-decoration: line-through;
  }
   &__caps {
    text-transform: uppercase;
  }
   &__lower {
    text-transform: lowercase;
  }
   &__kan {
    text-transform: capitalize;
  }
   &__comic {
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
   &__doc {
    color: rgba(0, 0, 0, 0.0);
  }
   &__hs {
    font-family: "Courier New", Courier, monospace;
  }
   &__cute {
    font-family: "YANDERE";
  }
   &__oa {
    font-family: "TrollType";
  }
   &__sc {
    font-variant: small-caps;
  }

   &__impact {
    font-family: "Impact", Charcoal, sans-serif;
  }

   &__luci {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
   }

   &__pap {
    font-family: "Pappy";
  }

   &__copap {
    font-family: "comicpapyrus";
  }

   &__na {
    font-family: "NewAlternian";
  }
}
 @keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
