// Dependent colors
$black: #000000;
$white: #ffffff;

$classic-base-color: #382833;
$classic-primary-color: #9baec8;
$classic-secondary-color: #F9C8DC;
$classic-highlight-color: #d82b9e;

// Differences
$success-green: #3c754d;

$base-overlay-background: $white !default;
$valid-value-color: $success-green !default;

$ui-base-color: $classic-secondary-color !default;
$ui-base-lighter-color: #f7b6d0;
$ui-primary-color: #ed9ad1;
$ui-secondary-color: $classic-base-color !default;
$ui-highlight-color: #7D1740;

$primary-text-color: $black !default;
$darker-text-color: $classic-base-color !default;
$dark-text-color: #5b4353;
$action-button-color: #A81F56;

$inverted-text-color: $black !default;
$lighter-text-color: $classic-base-color !default;
$light-text-color: #5b434c;

//Newly added colors
$account-background-color: $white !default;

//Invert darkened and lightened colors
@function darken($color, $amount) {
  @return hsl(hue($color), saturation($color), lightness($color) + $amount);
}

@function lighten($color, $amount) {
  @return hsl(hue($color), saturation($color), lightness($color) - $amount);
}


